.code-section {
  height: 100%;
  width: 100%;
  display: inline-flex;
  margin: 0 10px 0 20px;
  gap: 5px;
}

.top-bar {
  text-align: left;
}

.rest {
  min-width: 200px;
  flex-basis: 33%;
  flex-grow: 1;
}
